# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# Virtual Environment
# ==========================================================

.orzyn/
orzyn/
env/
ENV/

# ==========================================================
# Environment Variables
# ==========================================================

.env
.env.*
!.env.example

# ==========================================================
# Jupyter
# ==========================================================

.ipynb_checkpoints/

# ==========================================================
# VS Code
# ==========================================================

.vscode/

# ==========================================================
# JetBrains
# ==========================================================

.idea/

# ==========================================================
# Python Build
# ==========================================================

build/
dist/
*.egg-info/

# ==========================================================
# Testing
# ==========================================================

.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# ==========================================================
# Cache
# ==========================================================

cache/
data/
exports/
models/

# Ignore contents, keep folders

cache/**
!cache/.gitkeep

data/**
!data/.gitkeep

exports/**
!exports/.gitkeep

models/**
!models/.gitkeep

# ==========================================================
# OS
# ==========================================================

.DS_Store
Thumbs.db
desktop.ini

# ==========================================================
# Logs
# ==========================================================

*.log

# ==========================================================
# HuggingFace
# ==========================================================

.huggingface/

# ==========================================================
# Temporary Files
# ==========================================================

*.tmp
*.bak