# ==========================================================
# Orzyn AI m2.0 Research
# Requirements
# ==========================================================

# GitHub API
requests>=2.32.0

# Environment Variables
python-dotenv>=1.1.0

# Data Analysis
pandas>=2.3.0

# AI
huggingface_hub>=0.34.0

#GitHUb Blob API
github
